name: Lint (black and flake8)
on:
  workflow_dispatch:
  workflow_call:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Check out source repository
        uses: actions/checkout@v4
      - uses: actions/setup-node@v5
        with:
          node-version: 24
      - run: | 
          npm ci
          npm run lint